@{
    ViewData["Title"] = "CustomErrors";
}

<h1>Exception Page Redirected From MyException Filter</h1>

<p1> We have some problem in server. We make it up in a minute. </p1>
<br /><br/>
    <p2>We have some problem in server. We make it up in a minute. We have some problem in server</p2>
<hr/>