@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebApplication2.Models
@model Employee
<h1>Selected Employee Details</h1>

<div>
    Employee ID:@Model.EmployeeId<br/>
    Employee Name:@Model.EmployeeName<br/>
    Employee Job:@Model.EmployeeJob<br/>
    Employee Salary:@Model.EmployeeeSalary<br/>
    Employee Department Number:@Model.DepartmentNo<br/>
</div>
<hr/>
<a href="/Employee/Index">Back to List</a>